# Konfigurasi Feeder Web Service
# Copy file ini menjadi .env dan isi dengan kredensial yang benar

FEEDER_URL=http://10.150.1.213:3003/ws/live2.php
FEEDER_USERNAME=USERNAME_FEEDER
FEEDER_PASSWORD=PASSWORD_FEEDER

# Logging
LOG_ENABLED=true
LOG_FILE=feeder.log
